<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.comic_con.museum.ar">

    <application android:allowBackup="true"
                 android:name=".CCMApplication"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme"
                 tools:replace="android:icon,android:theme">

        <activity android:name=".LaunchActivity"
                  android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="@string/app_name_abbrev"/>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

        </activity>

        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait"/>

        <!--
        Upon completion, the unity player kills the process it was running on,
        so any activity containing an active UnityPlayer must be on a process off of
        the main process of the app
        -->
        <activity android:name=".experience.ExperienceActivity"
                  android:screenOrientation="portrait"
                  android:process=":UnityBoundProcess"/>

    </application>

</manifest>
